@using PharmaMVC.ViewModels

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pharmalardo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/css/site.css">
</head>

<body class="my-bg-img">
    <div class="container d-flex vh-100 align-items-center justify-content-center mx-auto">
        @RenderBody()
    </div>
</body>

</html>