@model SubcategoryViewModel

@{
    string action = ViewBag.Action ?? string.Empty;
}

<div class="d-flex flex-column col-10 mx-auto">
    <form method="post" asp-controller="subcategories" asp-action="@action">

        @if (action?.ToLower() == "edit")
        {
            <input type="hidden" asp-for="Subcategory.Id" />
        }

        <div class="text-danger m-2 px-2" asp-validation-summary="All"></div>

        <div class="my-4">
            <div class="row mb-1 col-12 mx-auto">
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <label asp-for="Subcategory.Name" class="col-form-label text-end">Nombre</label>
                </div>
                <div class="col-lg-10 col-md-9 col-sm-8">
                    <input type="text" asp-for="Subcategory.Name" class="form-control">
                </div>
            </div>
            <div class="col-12 mx-2 row">
                <span class="text-danger" asp-validation-for="Subcategory.Name"></span>
            </div>
        </div>

        <div class="my-4">
            <div class="row mb-1 col-12 mx-auto">
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <label asp-for="Subcategory.CategoryId" class="col-form-label text-end">Categoria</label>
                </div>
                <div class="col-lg-10 col-md-9 col-sm-8">
                    <select asp-for="Subcategory.CategoryId" class="form-control">
                        <option> - Seleccionar categoria - </option>
                        @if (Model.Categories != null)
                        {
                            @foreach (var categ in Model.Categories)
                            {
                                <option value="@categ.Id">@categ.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="col-12 mx-2 row">
                <span class="text-danger" asp-validation-for="Subcategory.CategoryId"></span>
            </div>
        </div>

        <div class="row mt-5 justify-content-between gap-2">
            <div class="col d-flex justify-content-center">
                <button type="submit" class="btn btn-primary rounded-pill" style="width: 120px;">
                    @if (action?.ToLower() == "edit")
                    {
                        <i class="bi bi-check-circle"></i>
                        <span style="margin-left: 8px; fs-6">Guardar</span>
                    }
                    else
                    {
                        <i class="bi bi-plus-circle"></i>
                        <span style="margin-left: 8px; fs-6">Crear</span>
                    }
                </button>
            </div>

            <div class="col d-flex justify-content-center">
                <a asp-controller="subcategories" asp-action="index" type="button" class="btn btn-danger rounded-pill"
                    style="width: 120px;">
                    <i class="bi bi-x-circle"></i>
                    <span class="fs-6" style="margin-left: 8px;">Cancelar</span>
                </a>
            </div>
        </div>
    </form>
</div>