@model IEnumerable<Subcategory>

@section title {

}

@if (Model != null && Model.Count() > 0)
{
    <table class="table table-hover table-striped my-3">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Categoria</th>
                <th class="col-md-2"></th>
                <th class="col-md-2"></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var subcategory in Model)
            {
                <tr>
                    <td>@subcategory.Name</td>
                    <td>@subcategory.Category?.Name</td>
                    <td>
                        <a class="btn btn-info rounded-pill" asp-controller="subcategories" asp-action="details"
                            asp-route-id="@subcategory.Id" style="width: 100px;">
                            <i class="bi bi-eye"></i>
                            <span style="margin-left: 8px; fs-6">Ver</span>
                        </a>
                    </td>
                    <td class="justify-content-center">
                        <a class="btn btn-danger rounded-pill" asp-controller="subcategories" asp-action="delete"
                            asp-route-id="@subcategory.Id" style="width: 100px;" onclick="return confirmDelete()">
                            <i class="bi bi-trash"></i>
                            <span style="margin-left: 8px; fs-6">Borrar</span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<br />
<div class="d-flex flex-row mx-auto align-items-center">
    <a asp-controller="subcategories" asp-route-action="add" type="button" class="btn btn-info text-white rounded-pill"
        style="background-color: #008980; width: 200px">
        <i class="bi bi-plus-lg fs-6"></i>
        <span style="margin-left: 8px; fs-6">Nueva subcategoria</span>
    </a>
</div>

@section Scripts
{
    <script>
        const confirmDelete = () => {
            return confirm("Esta subcategoria sera removida ¿Desea continuar?");
        }
    </script>
}